@font-face {
  font-family: "MavenPro-Regular";
  src: url("fonts/MavenPro-Regular.ttf");
}

@font-face {
  font-family: "MavenPro-Black";
  src: url("fonts/MavenPro-Black.ttf");
}

.has-cookie-bar #slider .wc-proceed-to-checkout {
  margin-bottom: 60px;
}

.has-cookie-bar .checkout_plus {
  bottom: 118px;
}

.has-cookie-bar #slider .order_total {
  padding-top: 10px !important;
}

#nav_menu-2 .aws-search-form {
  height: unset;
}

#catapult-cookie-bar {
  background: rgba(70, 70, 70, 0.9) !important;
}

h1, h3 {
  font-family: "MavenPro-Black", sans-serif !important;
  letter-spacing: 2px !important;
  font-size: 2.5em;
}

.footer-widgets h3 {
  letter-spacing: 2px !important;
  font-size: 2.5em;
}

h1::after, h3::after, .home h2::after, #slider #text-30 h4::after {
  content: "";
  border-top: 2px solid;
  width: 2em;
  display: block;
  margin: .2em auto;
}

.nav-primary {
  -webkit-transition: top 0.2s ease-in-out;
  -moz-transition: top 0.2s ease-in-out;
  -o-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}

/*.nav-up {*/
  /*top: -80px !important;*/
/*}*/


/******** password protected pages *********/

.post-password-form {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.post-password-form p {
  line-height: unset !important;
}

.post-password-form p:nth-of-type(2) {
  max-width: 300px;
  margin: 0 auto;
}

.post-password-form p label {
  font-size: 0 !important;
}

.post-password-form input[type="submit"]{
  margin-top: 4em;
  border-color: #ffe593 !important;
}

/****** Search Bar ********/

.nav-primary .aws-search-field {
  height: 22px;
  color: white;
  width: 2em;
  border: none;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
}

.search_box::after {
  content: "\f002";
  font-family: FontAwesome;
  position:absolute;
  top: 9px;
}

.search_box.hidden::after {
  display: none;
}

.nav-primary .aws-search-field:focus {
  width: 12em;
  border-bottom: 1px solid #fee492;
}

.nav-primary .aws-search-field:hover {
  cursor: pointer;
}

.aws-search-result {
  background: #1C1D1F;
  border: none;
  -webkit-box-shadow: -1px 33px 74px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 33px 74px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 33px 74px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
}
.aws-search-result ul li {
 border-color: #424242;
}

.aws-search-result ul li:hover {
  background: #3c3c3c !important;
}

.aws_result_title,
.aws_result_title strong,
.aws_result_title span,
.aws_result_price span {
  color: #fff !important;
}

/*.nav-primary {*/
  /*padding: 0 2em;*/
/*}*/

#gform_widget-5 .ginput_container.ginput_container_email {
  margin-top: 45px;
}

.archive .ge-slider-product-headline.mobile h1 {
  font-size: 2.5em;
}

.horizontal-divider {
  width: 50%;
  margin: 0 auto;
  border: 1px solid white;

}

.horizontal-divider.desktop {
  display: none;
}

.genesis-nav-menu a,
.genesis-nav-menu a span {
  font-family: "MavenPro-Black";
}

.menu-contact i.dashicons-email-alt {
  font-size: 20px !important;
}

.menu-contact a {
  padding-right: 0;
  padding-left: 0;
  color: white !important;
}

.menu-item-type-yawp_wim {
  text-align: center;
  padding-right: 0px;
  margin-left: -15px;
  margin-right: 10px;
}

.nav-primary .aws-search-field:focus {
  height: 30px;
}

.home-top #text-15 .widget-wrap {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-page-1 {
  padding: 4em 0 2em 0;
}

.home-page-1 .wrap, .archive .content .wrap {
  padding: 0;
  margin: 0 !important;
  max-width: none !important;
}

.home-page-1 .ge-flexslider .slides {
  padding-right: 1em;
  padding-left:  1em;
}

.home-page-4, .home-page-5 {
  padding: 2em 4em 2em 4em;
}

.home-page-2 {
  padding: 2em 0;
}

.home-page-2 h3 {
  margin-bottom: 1em;
}


.footer-widgets {
  padding: 40px 2em 2em 2em;
}
.site-footer {
  position: relative;
  z-index: 1;
}

.home .home-top p{
  font-family: "MavenPro-Regular", sans-serif !important;
  font-size: 1em !important;
}

.home .video-background{
  opacity: .8;
  background-image: radial-gradient(50% 96%, #7F8C8D 0%, #1B1400 96%);

}

.home-down {
  display: none;
}

/*.home-top {*/
/*  background-image: none !important;*/
/*  background: transparent !important;*/
/*}*/

.home-page-1 .widget {
  padding: 0;
}

.home-page-2 hr, .home-page-5 hr   {
  width: 50%;
}

.horizontal-divider.mobile {
  margin-top: -23px
}

.home-page-4 hr {
  width: 25%;
}

.divider {
  width: 15%;
  margin: 0 auto !important;
  border: 1px solid white;

}

#powered {
  display: none !important;
}

.archive.woocommerce .products {
  padding-top: 50px;
}

.archive.woocommerce .woocommerce-ordering {
  margin: 0 auto !important;
  width: 50%;
  float: none !important;
}

.cta,
.gform_wrapper .gform_footer input.button {
  box-shadow: inset 0 0 0 4px #ffe593 !important;
  color: #ffe593 !important;
  -webkit-transition: color 0.25s 0.08333s !important;
  transition: color 0.25s 0.08333s !important;
  position: relative !important;
  background: none !important;
  border: none !important;
  cursor: pointer !important;
  line-height: 1.5 !important;
  font: 700 .7rem 'Roboto Slab', sans-serif !important;
  padding: 1em 2em;
  letter-spacing: 0.05rem !important;
  margin: 0 auto !important;
}

.archive.woocommerce .price {
  text-align: center;
}

.archive.woocommerce .price del {
  display: inline-block !important;
}

.woocommerce-Price-amount {
  font-family: "roboto", sans-serif !important;
  font-weight: 100;
}

.archive.woocommerce .product .add_to_cart_button {
  text-align: center !important;
  display: block;
  margin: 0 auto;
}

.woocommerce-loop-product__title {
  font-family: "MavenPro-Medium", sans-serif !important;
}

.genesis-nav-menu {
  padding: 10px 0 15px 0;
}

.site-footer {
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);
}

.songkick-widget .no-events p {
  color: white;
  font-family: "MavenPro-Regular", sans-serif;
  letter-spacing: 2px;
  font-size: 2em;
}

.songkick-widget body.light {
  background: none !important;
}

.songkick-widget .light .results {
  border: none !important;
}

.footer-logo {
  width: 90px;
  padding-bottom: 10px;
  opacity: 0.4;
}

.footer-widgets-1 {
  width: 100% !important;
}

.site-footer {
  padding: 20px 0 !important;
  /*!* IE10+ *!*/
  /*background-image: -ms-linear-gradient(bottom, #000000 0%, #7F8C8D 225%);*/

  /*!* Mozilla Firefox *!*/
  /*background-image: -moz-linear-gradient(bottom, #000000 0%, #7F8C8D 225%);*/

  /*!* Opera *!*/
  /*background-image: -o-linear-gradient(bottom, #000000 0%, #7F8C8D 225%);*/

  /*!* Webkit (Safari/Chrome 10) *!*/
  /*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(225, #7F8C8D));*/

  /*!* Webkit (Chrome 11+) *!*/
  /*background-image: -webkit-linear-gradient(bottom, #000000 0%, #7F8C8D 225%);*/

  /*!* W3C Markup *!*/
  /*background-image: linear-gradient(to top, #000000 0%, #7F8C8D 225%);*/
  background-image: linear-gradient(-174deg, #7F8C8D -84%, #000000 45%) !important;
}

.footer-widgets #gform_fields_1 {
  width: 100%;
  margin: 0 auto !important;
}

.footer-widgets .gform_body {
  padding: 3em 0 5em 0;
}

#text-36 .textwidget {
  display: flex;
  justify-content: center;
}

#input_1_2 {
  border-radius: 0;
  background: none;

}

/******* Contact Form ********/

#slider .gform_wrapper .gform_body {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 2em;
}

#slider .gform_widget div.ginput_container {
  margin-top: 4em !important;
}

#slider .gform_widget .gform_wrapper .gform_footer {
  padding: 6em 0 !important;
}

#slider .gform_widget .gfield_label {
  display: inherit;
  color: white !important;
}

#slider .gform_widget input[type=email],
#slider .gform_widget input[type=text],
#slider .gform_widget textarea {
  height: 60px !important;
}

#slider .gform_widget .gform_title {
  font-size: 2em !important;
}

#slider .gform_widget .gform_title:after {
  content: "";
  border-top: 2px solid;
  width: 2em;
  display: block;
  margin: .2em auto;
}

#slider .gform_widget .gform_wrapper ul.gform_fields li.gfield {
  padding-right: 0 !important;
}

#slider .gform_widget input[type=radio] {
  margin-top: -1px !important;
  vertical-align: middle;
}

#slider .gform_widget .gfield_required {
  display: none;
}

#slider .gform_widget input[type=text]::-webkit-input-placeholder,
#slider .gform_widget input[type=email]::-webkit-input-placeholder,
#slider .gform_widget input[type=tel]::-webkit-input-placeholder,
#slider input[type=url]::-webkit-input-placeholder,
#slider input[type=number]::-webkit-input-placeholder,
#slider .gform_widget input[type=text],
#slider .gform_widget input[type=email],
#slider .gform_widget input[type=tel],
#slider .gform_widget .ginput_container_textarea textarea::-webkit-input-placeholder {
  font-size: 16px !important;
  -webkit-box-shadow: unset !important;
  -moz-box-shadow: unset !important;
  box-shadow: unset !important;
  color: #fff !important;
}

#slider .gform_widget .ginput_container_textarea .textarea {
  border: none;
  padding: 15px 2px;
  background: none !important;
}

#slider .gform_widget select {
  padding-top: 1em;
  color: #888 !important;
  box-shadow: none !important;
}

#slider .gform_widget .address_country {
  margin-top: -8px !important;
}
/**** About ********/

#slider #text-30 {
  position: relative;
  top: 6%;
}

#slider #text-30 h4 {
  text-align: center;
  font-size: 2em;
}

/* morning ritual page */

.morning-ritual .entry-header{
  margin: 0;
  padding: 1em;
}

.morning-ritual .entry-header h1{
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 2em;
}

.morning-ritual .entry-content{
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
}

.morning-ritual .video-background {
  filter: blur(20px);
}

.morning-ritual iframe{
  box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.6);
}

/* Shop category */

.woocommerce span.onsale {
  top: -15px !important;
  left: 50% !important;
  right: unset !important;
  margin: 0 !important;
  transform: translate(-50%) !important;
  -webkit-transform: translate(-50%) !important; /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: translate(-50%) !important; /* IE 9 */
}

.archive main.content {
  padding: 0 !important;
}

.archive .ge-flexslider,
.archive .products {
  background: linear-gradient(rgba(0,0,0,0), #000 80%);
  margin: 0;
}

.archive .products {
  padding: 4em 2em !important;
  margin: 0 !important;
  background: linear-gradient(#000 92%, rgba(0,0,0,.5));
}

.woocommerce-ordering select {
  display: none;
}

/* Checkout Page */

.woocommerce-checkout article {
  background: #1C1D1F;
}

.woocommerce-checkout .entry-content ul {
  margin: 0 !important;
}

.woocommerce-checkout .wc_payment_method {
  padding: 30px 0;
}

.woocommerce-checkout p {
  line-height: 2em !important;
}

.woocommerce-checkout .payment_method_paypal p {
  line-height: 2em !important;
}

.woocommerce-checkout h3#ship-to-different-address {
  float: none !important;
  text-align: center;
}

.woocommerce-checkout h3 {
  font-size: 1.3em !important;
}

.woocommerce-checkout div.form-row,
.woocommerce-checkout ul.payment_methods,
.woocommerce-checkout div.payment_box {
  background: #1C1D1F !important;
}

.woocommerce-checkout .woocommerce-billing-fields .form-row,
.woocommerce-checkout .woocommerce-shipping-fields .form-row {
  padding: 1em 2px;
}

.woocommerce-checkout input[type=text]::-webkit-input-placeholder,
.woocommerce-checkout input[type=email]::-webkit-input-placeholder,
.woocommerce-checkout input[type=tel]::-webkit-input-placeholder,
.woocommerce-checkout input[type=url]::-webkit-input-placeholder,
.woocommerce-checkout input[type=number]::-webkit-input-placeholder,
.woocommerce-checkout textarea::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  color: #fff !important;
}

.woocommerce-checkout input[type=text],
.woocommerce-checkout input[type=email],
.woocommerce-checkout input[type=tel],
.woocommerce-checkout input[type=url],
.woocommerce-checkout input[type=number],
.woocommerce-checkout textarea,
.woocommerce-checkout .select2-selection__placeholder {
  font-family: 'roboto', sans-serif;
  color: #fff !important;
  font-weight: 100;
}

.woocommerce-checkout input.select2-search__field {
  background: #1C1D1E !important;
}

.woocommerce-checkout .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 36px !important;
}

.woocommerce-checkout .woocommerce-billing-fields h3 {
  padding: 2em 0;
  font-family: 'roboto', sans-serif;
  font-size: 1.3em !important;
  font-weight: 600;

}

.woocommerce-checkout th.product-name,
.woocommerce-checkout th.product-total {
  font-family: 'roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 600;
}

.woocommerce-checkout #order_review_heading {
  display: none;
}

.woocommerce-checkout #ship-to-different-address {
  padding: 1em 0;
}

.woocommerce-checkout .checkout_coupon {
  padding: 2em !important;
}

.woocommerce-checkout #ship-to-different-address span {
  top: 2px;
  position: relative;
}

.woocommerce-checkout .shipping_address label {
  display: none !important;
}

/* Thank You Page */

.woocommerce-order-received .background_image {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  position: fixed;
}

.woocommerce-order-received h2 {
  font-size: 1.5em;
}

.woocommerce-order-received .site-container article {
  background: transparent !important;
  position: relative;
  z-index: 1;
}

.woocommerce-order-received h1 {
  font-size: 2.5em;
  padding-bottom: 1em;
}

.woocommerce-order-received h3 {
  color: #bbbbbb;
}

.woocommerce-order-received .woocommerce-table {
  border-color: #0a6aa1;
}

.woocommerce-order-received tr th:last-child,
.woocommerce-order-received tr td:last-child {
  text-align: right;
}
.woocommerce-order-received tr.download-title td{
  text-align: left;
  font-weight: 600;
}


.woocommerce-order-received .woocommerce-customer-details--email::before{
  position: relative !important;
  top: 2px;
}

.woocommerce-order-received .thankyou-continue {
  text-align: center;
  padding: 2em 0;
}

.woocommerce-order-received .stay-connected {
  padding: 2em 0;
}


.woocommerce-order-received .thankyou-icons {
  font-size: 3em;
  display: flex;
  justify-content: space-evenly;
}

.woocommerce-order-received hr {
  border-color: #686868;
}

.woocommerce-order-received .thankyou-icons a:hover{
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 768px) {

  .woocommerce-checkout form .form-row-first {
    float: none;
    width: 100%;
  }

  .woocommerce-checkout form .form-row-last {
    float: none;
    width: 100%;
  }
}

@media (min-width: 430px) {
  .nav-primary .aws-search-field:focus {
    width: 15em;
  }
}

@media (min-width: 600px) {
  .nav-primary .aws-search-field:focus {
    width: 21em;
  }
}

/* =================================
  Tablet Layout Styles
==================================== */

@media (min-width: 769px) {

  .nav-primary .aws-search-field:focus {
    width: 25em;
  }

  .fa-shopping-cart.fa-3x {
    font-size: 2.5em;
  }

  .home-top {
    padding-right: 4em;
    padding-left: 4em;
  }

  .nav-primary {
    padding: 0 4em;
  }

  .home-page-1 {
    padding: 4em 0;
  }

  .home-page-1 .ge-flexslider .slides {
    padding-right: 0;
    padding-left:  0;
  }

  .home-page-4 {
    min-height: 800px;
  }

  .home-page-2 hr, .home-page-4 hr, .home-page-5 hr, .footer-widgets hr, .horizontal-divider.mobile {
    width: 15%;
  }

  .home .site-inner {
    /*margin-top: 78px !important;*/
    margin-top: 0px !important;
  }

  #media_image-2 {
    top: 10px;
  }

  .cta,
  .gform_wrapper .gform_footer input.button {
    font-size: 1em !important;
  }

  .home-top {
    display: block;
  }

  .home .home-top p{
    font-family: "MavenPro-Regular", sans-serif !important;
    font-size: 20px !important;
    text-transform: uppercase;
  }

  .footer-widgets #gform_fields_1 {
    width: 50%;
  }

  .footer-widgets h4.widget-title {
    font-size: 1.5em;
  }

  .woocommerce-order-received h2 {
    font-size: 1.5em;
  }

  .woocommerce-order-received .thankyou-icons {
    font-size: 4em;
  }

  .woocommerce-ordering select {
    font-size: 1em;
  }

}

/* =================================
  Desktop Layout Styles
==================================== */

@media (min-width: 1025px) {

  .nav-primary .aws-search-field:focus {
    width: 40em;
  }

  .home-top .logo_wrap {
    max-width: 800px;
  }

  h1, h3 {
    font-size: 4.5em !important;

  }

  .horizontal-divider.mobile {
    display: none;
  }

  .horizontal-divider.desktop {
    display: block;
  }

  .archive.woocommerce .woocommerce-ordering {
    width: 20%;
  }

  .woocommerce-order-received .entry-content {
    padding: 0;
  }



}

@media (min-width: 961px) {
  .menu-item-type-yawp_wim {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.page-id-2124 .wpgdprc {
  max-width: 400px;
  margin: 0 auto;
}

.page-id-2124 .entry-header {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}


/** Blog post styles start **/

.single-post .post {
  background: none;
}

.single-post .site-container .site-inner main {
  padding: 20px 0;
}

.single-post .entry-content {
  max-width: 970px;
  margin: 0 auto;
}

.single-post .entry-meta {
  text-align: center;
}

.single-post .entry-header{
  margin-top: -350px;
}

.single-post .entry-title {
  font-size: 32px !important;
  max-width: 970px;
  margin: 0 auto;
}

.single-post .lyte-wrapper.fourthree {
  margin: 0 auto !important;
}

.single-post .lyte-wrapper.fourthree .tT {
  display: none;
}

.single-post .featured_image_wrapper {
  background: url(/wp-content/uploads/sites/14/2018/06/blogImageMobile.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}


/* =================================
  Tablet Layout Styles
==================================== */

@media (min-width: 500px) {
  .single-post .entry-header{
    margin-top: -280px;
  }
}

@media (min-width: 769px) {

  .single-post .featured_image_wrapper {
    background: url(/wp-content/uploads/sites/14/2018/06/blogImage.jpeg) !important;
  }

  .single-post .site-container .site-inner main {
    padding: 20px 3em;
  }

  .single-post .entry-header{
    margin-top: -270px;
  }

  .single-post .entry-title {
    font-size: 2em !important;
  }

  .video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
  }
  .video-foreground,
  .video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  @media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 300%; left: -100%; }
  }

}


/* =================================
  Desktop Layout Styles
==================================== */

@media (min-width: 1025px) {}